@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  overflow-y: scroll;
  padding-bottom: 20px;
  font-family: Source Sans Pro;
  color: #444;
  font-weight: 300;
}

#map {
  height: 300px;
}

#data table {
  width: 100%;
}
#data td+td {
  width: 80px;
}

input[type="number"] {
  max-width: 80%;
}

#controls {
  background: transparent;
  border: none;
  cursor: move;
}

#results {
  background-color: white;
  padding: 20px;
  cursor: move;
  opacity: 0.65;
  transition: opacity 500ms 1s;
}

#results:hover {
  opacity: 0.95;
  transition-delay: 0;
}

#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

.leaflet-container {
  background-color: white !important;
}

